---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Case from '../components/Case.astro';

// Import your local images
// import reformsImage from '../images/case1.jpg';
// import midrollImage from '../images/case2.jpg';
// import case3Image from '../images/case3.jpg';
// import case4Image from '../images/case4.jpg';

const cases = [
  {
    title: "Site · Studio",
    description: "A creative canvas for designing, collaborating on, and shipping websites with AI.",
    image: "/images/site.jpg",
    preTitle: "IDEA · OPEN FOR CO-FOUNDERS",
    url: "https://site.studio",
    type: "IDEA"
  },
  {
    title: "reforms · dev",
    description: "A developer-first forms platform for collecting contacts, feedback, and structured data via API.",
    image: "/images/reforms.jpg",
    preTitle: "IDEA · OPEN FOR CO-FOUNDERS",
    url: "https://reforms.dev",
    type: "IDEA" 
  },
  {
    title: "Muoto · AI",
    description: "One control plane for managing RAG pipelines, embeddings, and vector data across your AI stack.",
    image: "/images/soon.jpg",
    preTitle: "WORK IN PROGRESS",
    type: "WIP" 
  },
  {
    title: "Open for new (ad)ventures",
    description: "Decades of experience shipping consumer apps, AI workflows, marketplaces, and SaaS platforms. Bring us your boldest idea — we'll help you build it.",
    image: "/images/case4.jpg",
    preTitle: "PITCH US",
    type: "JOIN US" 
  }
];
---

<Layout 
  title="CO:LAB | Venture Studio"
  description="Helsinki based Venture Studio working together with startups and corporate venture teams to launch new digital platforms faster and smarter."
  image="/images/share.jpg"
>
  <Header />

  <div
  class="fixed inset-0 h-full w-full bg-[radial-gradient(#121314_1px,transparent_1px)] [background-size:16px_16px]"
></div>
<!-- Background -->
<div class="hidden absolute inset-x-0 m-auto h-80 opacity-50 max-w-xl bg-gradient-to-tr from-indigo-400 via-teal-900 to-[#C084FC] blur-[118px] -top-72"></div>
<!-- End -->

  <main>
    <!-- Hero Section -->
    <section class="mt-48 flex items-center pt-8 relative container-sm">
      <div class="relative z-10 max-w-3xl">

        <div class="flex flex-col gap-y-6">
          <h1 class="!text-balance">
            Venture studio building AI-native products, tools and startups.
          </h1>

          <p class="text-xl leading-relaxed">
            We're a Helsinki-based team of designers and developers, partnering with makers around the world to turn bold ideas into new products and platforms.
          </p>
        </div>
      </div>
    </section>

    <!-- Cases Section -->
    <section id="portfolio" class="pb-20 pt-32 relative z-10">
      <div class="container-sm "> 
        <div class="max-w-7xl">
        <h2>Work in progress</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
          {cases.map(caseItem => (
            <Case {...caseItem} />
          ))}
        </div>
      </div>
      </div>
    </section>

    <!-- Logo Roll Section -->
    <section class="py-20 hidden">
      <div class="container-sm">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-12 items-center">
          <img src="/images/logo1.svg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
          <img src="/images/logo3.jpg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
          <img src="/images/logo4.svg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section id="join" class="pt-20 pb-32 relative z-10">
      <div class="container-sm">
        <h2 class="mb-4 !text-balance">
          No wo/man is an island. We connect missing talent to new ventures.
        </h2>
        <p class="text-base !text-neutral-300 max-w-2xl mb-8">
          We collaborate with network of co:creators and co:llaborators. Sign up to the network to hear more about our missions.
          <br/><br/>
          Or email <a href="mailto:hei@colab.fi" class="underline hover:text-white">hei@colab.fi</a>
        </p>
        <a href="javascript:void(0)" onclick="openNetworkModal()" class="btn">Join the network</a>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-20 border-t border-white/10 z-10 relative">
      <div class="container-sm">
        <div class="flex flex-col md:flex-row justify-between items-start gap-8">
        
         <p class="text-xs !text-zinc-400 mt-0">© 2025 Colab Ventures Ltd. Sofiankatu 4, FI-00170 Helsinki</p>

          <div class="flex gap-8 text-sm !text-zinc-200">
            <a href="/privacy" class="hover:text-white">Privacy</a>
            <a href="https://client.studio/" class="hover:text-white">Studio</a>
            <a href="https://fineland.fi/" class="hover:text-white hidden">AI</a>
          </div>

           
        </div>
      
      </div>
    </footer>
  </main>
</Layout>