---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Case from '../components/Case.astro';
import NetworkModal from '../components/NetworkModal.astro';

// Import your local images
// import reformsImage from '../images/case1.jpg';
// import midrollImage from '../images/case2.jpg';
// import case3Image from '../images/case3.jpg';
// import case4Image from '../images/case4.jpg';

const cases = [
  {
    title: "Site · Studio",
    description: "Faster way to collaborate and build website with AI, React and Nextjs.",
    image: "/images/site.jpg",
    preTitle: "IDEA · OPEN FOR CO-FOUNDERS",
    url: "https://site.studio",
    type: "IDEA"
  },
  {
    title: "reforms · dev",
    description: "Our forms platform for collecting contacts and feedback programmatically.",
    image: "/images/reforms.jpg",
    preTitle: "IDEA · OPEN FOR CO-FOUNDERS",
    url: "https://reforms.dev",
    type: "IDEA" 
  },
  {
    title: "Muoto · AI",
    description: "A centralised methodology to manage your RAG and Vector data.",
    image: "/images/soon.jpg",
    preTitle: "WORK IN PROGRESS",
    url: "",
    type: "WIP" 
  },
  {
    title: "PROMPT · STUDIO",
    description: "AI agent flow testing and prompt engineering platform.",
    image: "/images/prompt.jpg",
    preTitle: "WORK IN PROGRESS",
    type: "WIP" 
  },
  {
    title: "OPEN FOR NEW (AD)VENTURES",
    description: "We have decades of experience in designing and developing consumer apps, complex AI workflows, marketplaces and multiple SaaS products and platforms. ",
    image: "/images/case4.jpg",
    preTitle: "PITCH US",
    type: "JOIN US" 
  }
];
---

<Layout 
  title="CO:LAB | Venture Studio"
  description="Helsinki based Venture Studio working together with startups and corporate venture teams to launch new digital platforms faster and smarter."
  image="/images/share.jpg"
>
  <Header />
  <NetworkModal />

  <div
  class="fixed inset-0 h-full w-full bg-[radial-gradient(#121314_1px,transparent_1px)] [background-size:16px_16px]"
></div>
<!-- Background -->
<div class="hidden absolute inset-x-0 m-auto h-80 opacity-50 max-w-xl bg-gradient-to-tr from-indigo-400 via-teal-900 to-[#C084FC] blur-[118px] -top-72"></div>
<!-- End -->

  <main>
    <!-- Hero Section -->
    <section class="min-h-screen flex items-center pt-8 relative container-sm">
      <div class="relative z-10">

        <div class="flex flex-col gap-5">
        <h1 class="mb-6 !text-balance">
          Venture Studio for AI-Native Startups.
        </h1>

        <p class="mb-10 max-w-3xl">
Helsinki based venture studio. We're a small team of experienced designers, and developers united with founders around the world to build bold new ideas into world class platforms and startups.
         </p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8 max-w-3xl">

          <div>
            <ul class="space-y-2 !text-neutral-400">
              <li>Brand + Design</li>
              <li>Product + Web</li>
             
              <li>Front + Backend</li>
            </ul>
          </div>

          <div>
            <ul class="space-y-2 !text-neutral-400">
              <li>Discovery</li>
              <li>Validation</li>
              <li>Market entry</li>
            </ul>
          </div>
          
          
          
          <div class="hidden md:block">
            
            <ul class="space-y-2 !text-neutral-400">
              <li>Pitch</li>
              <li>Team</li>
              <li>Legal</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Cases Section -->
    <section id="portfolio" class="py-20 relative z-10">
      <div class="container-sm "> 
        <div class="max-w-7xl">
        <h2>Work in progress</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
          {cases.map(caseItem => (
            <Case {...caseItem} />
          ))}
        </div>
      </div>
      </div>
    </section>

    <!-- Logo Roll Section -->
    <section class="py-20 hidden">
      <div class="container-sm">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-12 items-center">
          <img src="/images/logo1.svg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
          <img src="/images/logo3.jpg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
          <img src="/images/logo4.svg" alt="Partner Logo" class="h-8 opacity-60 hover:opacity-100 transition-opacity" />
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section id="join" class="pt-20 pb-32 relative z-10">
      <div class="container-sm">
        <h2 class="mb-4 !text-balance">
          No wo/man is an island. We connect missing talent to new ventures.
        </h2>
        <p class="text-base !text-neutral-300 max-w-2xl mb-8">
          We collaborate with network of co:creators, agencies, advisors and investors. Sign up to the network to hear more about our missions.
        </p>
        <a href="javascript:void(0)" onclick="openNetworkModal()" class="btn">Join the network</a>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-20 border-t border-white/10 z-10 relative">
      <div class="container-sm">
        <div class="flex flex-col md:flex-row justify-between items-start gap-8">
          <p class="text-sm !text-zinc-400 max-w-xl">
            Co:lab is an independent Venture Studio. Our team has decades of experience in building startups and leading digital products. Great products are built with ongoing collaboration and hard work. Thus we invest our time and team all in with few promising early-stage startups and ideas. We typically join pre-seed and require 10-15% equity (sweat or hybrid, gap and 1-2y vest).
          </p>
          <div class="flex gap-8 text-sm !text-zinc-200">
            <a href="/privacy" class="hover:text-white">Privacy</a>
            <a href="https://client.studio/" class="hover:text-white">Studio</a>
            <a href="https://fineland.fi/" class="hover:text-white hidden">AI</a>
          </div>
        </div>
        <p class="text-xs !text-zinc-400 mt-8">© 2025 Colab Ventures Ltd. Sofiankatu 4, FI-00170 Helsinki. No cookies.</p>
      </div>
    </footer>
  </main>
</Layout>