---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout 
  title="Privacy Policy - CO:LAB"
  description="Privacy Policy for CO:LAB Venture Studio"
  image="/og-image.jpg"
>
  <Header />

  <div
    class="absolute inset-0 h-full w-full bg-[radial-gradient(#121314_1px,transparent_1px)] [background-size:16px_16px]"
  ></div>

  <main>
    <section class="pt-32 pb-20">
      <div class="container">
        <h1 class="mb-12">Privacy Policy</h1>
        
        <div class="prose prose-invert max-w-3xl">
       
          <p>On this page, we will briefly tell you why and how we collect personal information. In our Privacy policy statement, we tell you what information we collect, how we use it, why we need it, and how this can benefit you.</p>

          <p>You can always ask us for more information regarding our privacy policy by contacting us.</p>

          <h2>Register name</h2>

          <p>Customer, marketing, user, and job seeker registers, and softwares' personal register.</p>

          <h3>Registrar</h3>

          <p>Colab Ventures Oy (Company)<br />
          Sofiankatu 4<br />
          00170 Helsinki Finland</p>

          <h4>Contact person for register matters</h4>

          <p>Nikolas Holm, first.lastname@colab.fi</p>

          <h2>What personal information we collect and why</h2>

          <p>The collection of personal information helps us to serve you better. Personal data is collected for a specific, explicit and legitimate purpose.</p>

          <p>We process your information in the implementation of our services, in our marketing and customer communications, and in customer service. In addition, we use the information to target our marketing and communications to suit you. We want to create even better services in the future and the information gathered will help us better understand our customers.</p>

          <p>You may prohibit the use of information about you on our mailing lists. You can leave our mailing lists whenever you want according to the instructions in the shipment or by notifying us by e-mail.</p>

          <h3>Customer register</h3>

          <h4>Purpose of processing of personal data, legal basis and categories of personal data</h4>

          <p>Personal data is collected for a specific, explicit and legitimate purpose. Information is collected for customer relationship management and service delivery. The legal basis for the processing of personal data is the fulfillment of contractual obligations.</p>

          <p>The customer register contains the personal data of the registrar's customers and contact persons, which are e.g. name, contact information, language and other information necessary to manage the customer relationship.</p>

          <h3>Marketing register</h3>

          <h4>Purpose of processing of personal data, legal basis and categories of personal data</h4>

          <p>Personal data is collected for a specific, explicit and legitimate purpose. Data is collected for marketing. The legal basis for the processing of personal data is the registrar's legitimate interest to practice marketing.</p>

          <p>The marketing register contains the personal data of personal customers and company contact persons, which are e.g. name, contact information and other marketing information. The personal information of the Marketing Register can be obtained from the forms on our website, by telephone, e-mail, or other similar means, as well as from possible public sources, such as the contact information of companies on websites.</p>

          <h3>User register</h3>

          <h4>Purpose of processing of personal data, legal basis and categories of personal data</h4>

          <p>Personal data is collected for a specific, explicit and legitimate purpose. The information in the user registration is used on a contractual basis to provide Company's software services to customers, identify customers, and grant access rights.</p>

          <p>The user registry contains users' names, usernames, e-mail addresses, and other information stored by administrators.</p>

          <h3>The personal register of our software</h3>

          <h4>Purpose of processing of personal data, legal basis and categories of personal data</h4>

          <p>Personal data is collected for a specific, explicit, and legitimate purpose. The information in the personal records of the software is used to provide contracted software services to customers. The personal data of the employees of the customer companies are disclosed and stored in Company's software.</p>

          <p>The register contains users' names and other information stored by users.</p>

          <h3>Jobseeker Register</h3>

          <h4>Purpose of the processing of personal data, legal basis, and categories of personal data</h4>

          <p>The processing of personal data is based on a legitimate interest based on a substantive connection between Company and the data subject when the data subject applies for a job. The company processes the personal data of job seekers for the following purposes: implementation and management of recruitment measures, processing of applications, assessment of the suitability of the jobseeker, and communication-related to job search and recruitment.</p>

          <p>In principle, Company collects personal data directly from job seekers on the basis of their own applications. To the extent permitted by law, Company may also obtain registered information from other sources. If information is collected from sources other than the jobseeker himself, Company always requests registered consent. Such other sources may include, for example, outsourcing of personal and suitability assessments as appropriate.</p>

          <p>The register may contain, inter alia, the following personal data:</p>

          <ul>
            <li>full name and contact information</li>
            <li>identification information (including the year of birth, social security number and gender)</li>
            <li>educational information (including the name of educational institution, degree title and duration of studies)</li>
            <li>work experience information (including employer information, job title and duration of employment)</li>
            <li>language skills</li>
            <li>information related to possible personal and aptitude assessments</li>
            <li>as well as the job to be applied for</li>
            <li>other information provided by the job seeker himself/herself in his / her application and CV</li>
          </ul>

          <h3>Contact forms</h3>

          <p>The contact and registration forms on our website collect the information requested from the sender on a form-by-form basis that is necessary to enable the provision of that service and are always retained for the period required to provide that service. The information may also be used for marketing purposes within the scope of the matters mentioned in this privacy policy statement, which the user has accepted when using the site or filling in the form.</p>

          <h3>Disclosure of information</h3>

          <p>We do not, in principle, disclose your information to third parties. For some of our training, we use external training providers. In such a case, we may provide your necessary information based on the registration form, such as your name, job description, and email address, to the service provider.</p>

          <p>In some cases, your information may also be disclosed in confidence to our partners who process personal information under a written assignment agreement. Our partners process personal information as agreed, in accordance with our written instructions, and only for the purposes stated in this Privacy policy statement. We may use such subcontractors, for example, to carry out marketing.</p>

          <h2>Data retention</h2>

          <p>We respect the confidentiality of your personal information. The data retention period and retention criteria vary by personal data group and purpose. However, we will only retain personal information for as long as it is necessary to fulfill the purposes for which the personal information is processed as defined in this Privacy policy statement.</p>

          <h3>Your right to your own information</h3>

          <p>You can request the deletion of your personal information. The right to delete your own information does not apply to personal information that we are required to retain for administrative, legal or security reasons. Please note that deleting your personal information from us may affect the information we provide to you based on our customer relationship, as well as any ongoing matters.</p>

          <p>You have the right at any time to object to the processing of your personal data for marketing purposes. Every direct e-mail sent by the company has a legal link from which you can block direct e-mails in the future if you wish.</p>

          <h3>Data transfer</h3>

          <p>Your data will not, in principle, be transferred outside the European Union or the European Economic Area. However, should your data need to be transferred outside the EU for the purposes set out in this Privacy policy statement, we will ensure that the country is an EU Commission-designated country of adequate data protection, is Privacy Shield certified (US-based transferees), or uses model terms published by the EU Commission. We always ensure that any data transfer is carried out on the basis of the law and with adequate protection mechanisms.</p>

          <h2>Modification of the Privacy Policy Statement</h2>

          <p>We are constantly striving to improve our services. Therefore, we reserve the right to change this privacy policy statement by posting it on this page.</p>
        </div>
      </div>
    </section>
  </main>
</Layout> 