---
import NetworkModal from './NetworkModal.astro';
---

<header class="fixed w-full top-0 z-50 bg-black/20 backdrop-blur-xl">
  <div class="container-sm py-4 flex justify-between items-center">
    <a href="/" class="text-sm xl:text-base uppercase font-semibold tracking-wider">CO:LAB</a>
    <nav class="flex gap-8 items-center">
      <button onclick="openNetworkModal()" class="btn">
        Join<span class="hidden md:inline">&nbsp;the Network</span>
      </button>
    </nav>
  </div>
</header>

<NetworkModal />